#AuthType shibboleth
#require shibboleth

<Files ".htpasswd">
	Order allow,deny
	deny from all
</Files>

RewriteEngine On
# Add URL path to main folder of application after authority part of URI without trailing slash
# Example:
# RewriteBase /test/static/eva
RewriteBase

# Always use https://
RewriteCond %{SERVER_PORT} =80
# Add full base URL of application with suffix "/$1"
# Example:
# RewriteRule ^(.*) https://www.uzh.ch/test/static/eva/$1 [L]
RewriteRule ^(.*)  [L]

# Rewrite all requests that don't direct to a symbolig link, file or directory to index.php
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# End of file .htaccess
# Location: ./.htaccess

