/* Overwrites some CSS rules of uzh.css */

/* Adapt basic styles from Grocery_CRUD: */
body
{
	font-family: Arial, Helvetica, FreeSans, sans-serif;
	font-size: 14px;
	/* color: #000000;
	line-height: 1.5em; */
	margin:0px 20px 0px 20px;
	/* padding:0px; */
	background-color:#e3e7ea;
	/* background-color:#ffffff; */
	/* 	height:100%; */
}

a
{
    color: blue;
    text-decoration: none;
    font-size: 14px;
}

h2{
	font-size: 1.4em;
	margin-bottom: 15px;
}

h3{
	font-size: 1.2em;
}

a:hover
{
	text-decoration: underline;
}

div.bodywidth
{
	width: 100%;
	/* margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	min-height: 100%; */
}

div.bodywidthsmall
{
	width: 980px;
	/* horizontally centred */
	/* ----- */
	margin-right: auto;
	margin-left: auto;
	/* ----- */
	background-color: #FFFFFF;
	min-height: 100%;
}

div.oliv_content
{
	margin-left: 20px;
	margin-right: 20px;
}

div#olivlogo
{
	padding: 14px 17px 0 0;
	height: 80px;
	width: 133px;
	float: right;
}

div#uzhlogo
{
	padding: 14px 0 0 17px;
	height:80px;
	width: 255px;
	float: left;
}

/* Embedded script on view 'login.php' */
div#wayf_div
{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

div#topline
{
	width: 100%;
	/* background-color:#e3e7ea;
	float: left; */
	padding: 3px 0px 0px 20px; /* top, right, bottom, left */
	font-size: 0.9em;
	color: #7B828A;
}

div#headerarea h1 a
{
	/* color:#000;
	text-decoration: none;
	border-bottom:#0028a5 solid 4px;
	display: block;
	float: left;
	margin: 0;
	padding: 0; */
	font-size: 20px;
}
div#headerarea h1 a:hover
{
	/* color:#000;
	text-decoration: none;
	border-bottom:#0028a5 solid 4px; */
	font-size: 20px;
}

p#logout
{
    float:right;
    margin-right:40px;
}

div#primarnav 
{
    /* font-size: 1em;
    font-family: Arial, Helvetica, FreeSans, sans-serif;
    line-height: 1.5em;
    color: #000;
    display:block;
	margin-left: 14px;
	margin-top: 4px;
	min-height: 22px;
	width: 966px;
	float: left; */
}

/* Grocery CRUD report div */
div.report-div
{
    margin-left: 20px !important;
    margin-right: 20px !important;
}

/* Grocery CRUD add button (views/list_template.php) */
div.datatables-add-button
{
	margin-left: 20px !important;
}

/* Grocery CRUD buttonset ("Export" and "Druck") */
div.DTTT_container.ui-buttonset.ui-buttonset-multi
{
	margin-right: 0px !important;
}

/* Grocery CRUD list view (views/list_template.php) */
div.dataTablesContainer
{
	margin-left: 20px !important;
	margin-right: 20px !important;
}

/* Grocery CRUD edit form (used when adding/editing a new/existing document/list) */
div.ui-widget-content.ui-corner-all.datatables
{
	margin-left: 20px !important;
	margin-right: 20px !important;
}

div.list-preview
{
	margin-left: 20px !important;
	margin-right: 20px !important;
}

/* Sets dozent_template to invisible */
.dozent_template
{
	display: none;
}

div.footertopnav
{
    /* text-align: right;
    margin-bottom: 0px;
    padding-bottom: 3px;
    padding-top: 16px;
    border-bottom: solid 1px #c8ced4;
    clear: both; */
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 0;
}

div#footer
{
	margin-left: 20px;
	margin-right: 20px;
}

div#footer a
{
    /* text-decoration: none;
    color: #333; */
	color: #7B828A;
	font-size: 12px;
}

div#footer li
{
	color: #7B828A;
	font-size: 12px;
}

div#footer li.separator
{
	padding-left: 8px;
	padding-right: 8px;
}

div#footer li.left
{
	margin-left: 20px;
}

/* Local adaptions for orderform.php  */

/* Name of course like h3 */
.labelasheading{
	font-size: 1em;
    font-weight: bold;
}

/* Explanation paragraphs in order form */
p.explanation,
p.explanation a{
	font-size: 12px;
}
p.explanation{
	color: #444;
}

td.inputlabel{
	padding-right: 10px;
}

form h3{
	margin-top: 0;
	margin-bottom: 12px;
}

form h3.notfirst{
	margin-top: 10px;
}

div.buttonline{
	display: inline-block;
	margin-top: 10px;
}

/* button#addDozent,
button#removeDozent, */
button,
a.buttonlike,
div#bestellungen input[type="submit"]/* ,
input[type="file"] */{
	background: #2184be;
	color: #fff;
	display: inline-block;
	padding: .5em 1em;
	text-decoration: none;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.buttononly{
	margin-bottom: 20px;
}

button:disabled{
	background: #bdcfd9;
	cursor: not-allowed;
}

button#removeDozent{
	margin-left: 10px;
}

button.uploadbutton{
	margin-top: 10px;
}

label[for="onlineumfrage"],
label[for="papierumfrage"]{
	margin-left: 5px;
}

.bold{
	font-weight: bold;
}

/* Thumbnails form preview images */
.fancybox img{
	height: 250px;
}

div#fileupload_explanation{
	margin-top: 20px;
}

div#fileupload_explanation img{
	height: 24px;
	vertical-align: middle;
	margin-right: 5px;
}

div.fileupload_block{
	margin-top: 10px;
	margin-bottom: 5px;
}

div.fileupload_block .error{
	margin: 0 !important;
}

input[type="file"]{
	padding-right: 5px;
}

/* Workaround to ensure validation of input field but leave it invisible for user */
input.filecheck{
	visibility: hidden;
	height: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

#teilnehmeranzahl{
	margin-top: 10px;
}

/* Move it on same height as forward/back buttons */
p.afterform{
	margin-top: -55px;
}

.warning{
	color: #FF0000;
}

.techterm{
	font-style: italic;
	font-weight: bold;
}

/* Wrapper for table in bestellungen.php */
div#bestellungen{
	overflow: auto;
}

div#bestellungen table{
	border-collapse: collapse;
	border: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
}

div#bestellungen th{
	color:#555;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}

div#bestellungen td, th{
	padding: 5px;
}

div#bestellungen .export{
	text-align: center;
}

div#bestellungen input[type="submit"]{
	margin-top: 15px;
}

/* Zebra crossing for every second row */
table.tablesorter tr.even{
	background-color: #E8E8E8;
}

/* Move sorting arrows to the right of table headers */
table.tablesorter th.header{
	background-image: none;
}

table.tablesorter th.header span{
	background-image: url("/uzh/authoring/images/sort.gif");
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 20px;
}

table.tablesorter th.headerSortUp span{
	background-image: url("/uzh/authoring/images/asc.gif");
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 20px;
}

table.tablesorter th.headerSortDown span{
	background-image: url("/uzh/authoring/images/desc.gif");
    background-position: right center;
	background-repeat: no-repeat;
    padding-right: 20px;
}

/* table.tablesorter tbody tr.normal-row td {
	background: #E8E8E8;
}
table.tablesorter tbody tr.alt-row td {
	/* background: #555; */
} */

div#bestellungen label, input, button, select, textarea{
	
}

div#bestellungen .filecheck{
	display: none;
}